<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.gnu.yg398.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".write">
            <intent-filter>
                <action android:name="android.intent.action.WRITE" />
            </intent-filter>
        </activity>
        <activity android:name=".boardList">
            <intent-filter>
                <action android:name="android.intent.action.BOARDLIST" />
            </intent-filter>
        </activity>\
        <activity android:name=".ItemView">
            <intent-filter>
                <action android:name="android.intent.action.ITEMVIEW" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>